html{width:100%;height:100%;overflow:scroll;overflow-x:hidden;font-style:sans-serif}
body{width:100%;height:100%;font-family:'Open Sans',sans-serif;margin:0;background-color:#15202b}
p{color:#fff;text-align:left}
a{text-decoration:none;color:#000;text-shadow:0 0 1ex}
a:hover{text-decoration:underline;color:red}
table.hovertable{font-family:verdana,arial,sans-serif;font-size:11px;color:#333;border-width:1px;border-color:#999;border-collapse:collapse;position:fixed;top:30%;right:36%}
table.hovertable th{background-color:#c3dde0;border-width:1px;padding:8px;border-style:solid;border-color:#a9c6c9}
table.hovertable tr{background-color:#4a77d4}
table.hovertable td{border-width:1px;padding:8px;border-style:solid;border-color:#a9c6c9;font-family:'Open Sans',sans-serif}
#login{position:absolute;top:20%;left:50%;margin:-150px 0 0 -150px;width:300px;height:300px}
#login h1{color:#fff;text-shadow:0 0 10px;letter-spacing:1px;text-align:center}
h1{font-size:2em;margin:.67em 0}
#login h2{color:#fff;text-shadow:0 0 10px;letter-spacing:1px;text-align:center}
h2{font-size:2em;margin:.67em 0}
input{width:278px;height:18px;margin-bottom:10px;outline:0;padding:10px;font-size:13px;color:#fff;text-shadow:1px 1px 1px;border-top:1px solid #312e3d;border-left:1px solid #312e3d;border-right:1px solid #312e3d;border-bottom:1px solid #56536a;border-radius:4px;background-color:#2d2d3f}
.but{width:300px;min-height:20px;display:block;background-color:#4a77d4;border:1px solid #3762bc;color:#fff;padding:9px 14px;font-size:15px;line-height:normal;border-radius:5px;margin:0}
.user-f{text-align:center;width:300px;height:30px;float:left;border:1px solid #3762bc;border-radius:0 15px 15px 0;background-color:#4a77d4;font-size:20px;line-height:normal;padding:9px 14px;color:#fff}
.user-g{text-align:center;width:300px;height:30px;float:right;border:1px solid #3762bc;border-radius:15px 0 0 15px;background-color:#4a77d4;font-size:20px;line-height:normal;padding:9px 14px;color:#fff}
.logout{text-align:center;width:200px;height:30px;float:right;border:1px solid #e4960d;border-radius:15px 0 0 15px;background-color:#e06613;font-size:20px;line-height:normal;padding:9px 14px;color:#fff}
.about{text-align:center;width:50px;height:10px;float:left;border:1px solid #3762bc;border-radius:0 15px 15px 0;background-color:#4a77d4;font-size:10px;line-height:normal;padding:9px 14px;color:#fff}
.mainlis-lif{text-align:left;width:1000px;height:30px;float:left;border:1px solid #3762bc;border-radius:15px 0 0 15px;background-color:#4a77d4;font-size:20px;line-height:normal;padding:9px 14px;color:#fff;text-shadow:0 0 1ex}
.mainlis-rig{text-align:right;width:1000px;height:30px;float:right;border:1px solid #3762bc;border-radius:0 15px 15px 0;background-color:#4a77d4;font-size:20px;line-height:normal;padding:9px 14px;color:#fff;text-shadow:0 0 1ex}
.update-left{text-align:center;width:50px;height:10px;float:left;position:fixed;left:0;top:28%;border:1px solid #e4960d;border-radius:0 15px 15px 0;background-color:#e06613;font-size:10px;line-height:normal;padding:9px 14px;color:#fff}
.update-right{text-align:center;width:40px;position:fixed;right:0;top:47%;height:10px;float:right;border:1px solid #e4960d;border-radius:15px 0 0 15px;background-color:#e06613;font-size:10px;line-height:normal;padding:9px 14px;color:#fff}
.but-save-left{width:100px;height:40px;display:block;background-color:#4a77d4;border:1px solid #3762bc;color:#fff;padding:9px 14px;font-size:8px;line-height:normal;margin:0}
.but-save-right{width:60px;height:15px;display:block;background-color:#4a77d4;border:1px solid #3762bc;color:#fff;padding:9px 14px;font-size:8px;line-height:normal;border-radius:15px 0 0 15px;margin:0}
.back{text-align:center;width:60px;height:15px;float:right;border:1px solid #e4960d;border-radius:15px 0 0 15px;background-color:#e06613;font-size:10px;line-height:normal;padding:9px 14px;color:#fff;position:fixed;bottom:5%;right:0}
.back-left{text-align:center;width:50px;height:10px;float:right;border:1px solid #e4960d;border-radius:15px 0 0 15px;background-color:#e06613;font-size:10px;line-height:normal;padding:9px 14px;color:#fff;position:fixed;top:20%;left:0}
#container{width:500px;height:700px;border:1px solid #7b6b6b;margin:0 auto;position:relative;top:50%}
#content{width:500px;height:600px;border-bottom:1px solid #ccc;overflow-y:auto}
#content ul{margin:0;padding:0}
#Img{width:60px;height:60px;position:absolute;left:20px;top:620px;border-radius:30px}
#txt{margin:0;position:absolute;left:100px;top:630px;border-radius:2px;border:1px solid #ccc;width:266px;height:36px}
#btn{margin-right:20px;position:absolute;margin:0;left:394px;top:628px;height:36px}
#edit{background:#ece7e766;width:500px;height:100px;display: flex;align-items: center;}
/* #edit *{} */
.showTxt{width:auto;height:auto;max-width:460px;background:green;border:0;font-size:30px;color:#000;padding:10px;border-radius:2px;word-break:break-all;list-style:none;margin-top:10px;display:list-item}
.left{text-align:left;margin-left:100px;float:left;background:#ccc}
.right{text-align:right;margin-right:100px;float:right;color: #fff;}
.showImg{width:52px;height:52px;border-radius:26px}
.leftImg{left:20px;position:absolute}
.rightImg{right:20px;position:absolute}
#scroll{position:relative}
center>p{text-align: center;}
