*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-size: 12px;
}

#container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(22, 32, 42);
    position: relative;
    overflow-y: hidden;
}

#title-box{
    padding: 10px 20px;
    border-bottom: rgb(57, 67, 77) solid 1px;
}

#u-name{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
}

#u-id{
    color: rgb(125, 142, 152);
    font-size: 0.8rem;
}

#content-box{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#chat-box{
    width: 94%;
    margin: 20px auto 140px auto;
}

.chat-list{
    display: flex;
    align-items: flex-end;
    padding: 5px 0;
    animation:move-box .2s;
}

@keyframes move-box
{
	from {transform: translateY(10px)}
	to {transform: translateY(0)}
}


.chat-right{
    flex-direction: row-reverse;
}

.chat-img{
    width: 40px;
   
}
.img-left{
    margin-right: 10px;
}
.img-right{
    margin-left: 10px;
}
.chat-img img{
    width: 100%;
    border-radius: 50%;
}

.chat-text{
    max-width: 68%;
    padding: 12px;
    color: #FFF;
    font-size: 1rem;
    word-break: break-word;
}
.chat-text-left{
    background-color: rgb(61, 84, 102);
    border-radius: 15px 15px 15px 0;
}
.chat-text-right{
    background-color: rgb(29, 161, 243);
    border-radius: 15px 15px 0 15px;
}

#input-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: rgb(57, 67, 77) solid 1px;
    background-color: rgb(22, 32, 42);
}
#input-box-in{
    padding: 10px 0;
    display: flex;
    position: relative;
    background-color: rgb(22, 32, 42);
    z-index: 1;
}
#input-img-box{
    width: 60px;
    padding: 0 10px;
}
#user{
    width: 100%;
    border-radius: 50%;
    vertical-align: middle;
}
#input-input-box{
    width: calc(100% - 120px);
    padding: 0 15px;
    border-left: rgb(57, 67, 77) solid 1px;
    border-right: rgb(57, 67, 77) solid 1px;
}
#input-input{
    height: 40px;
    font-size: 1.1rem;
    background-color: unset;
    border: none;
    border-bottom: rgb(64, 83, 100) solid 2px;
    outline: none;
    caret-color: rgb(29, 161, 243);
    color: #FFF;
}
#input-input-box #input-input{
    width: 100%;
}
#input-button{
    width: 60px;
    padding: 0 10px;
}
#input-button button{
    width: 100%;
    height: 100%;
    background-image: url("../img/button.png");
    background-size: 100% 100%;
    background-color: unset;
    border: none;
    outline: none;
}
.users-list{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(22, 32, 42);
    border-top: rgb(57, 67, 77) solid 1px;
    border-bottom: rgb(57, 67, 77) solid 1px;
    z-index: 0;
    transition: all .3s ease;
    opacity: 0;
}
.users-list-up{
    top: -115px;
    opacity: 1;
}
.users-list ul{
    list-style: none;
    padding: 20px 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.users-list ul li{
    width: 50px;
    margin: 0 15px;
    display: inline-block;
}
.users-list ul li img{
    width: 100%;
    border-radius: 50%;
}
.users-name{
    text-align: center;
    padding-top: 5px;
    color: #FFF;
    height: 20px;
}

#explain{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}
#explain-in{
    padding: 0 20px;
    font-size: 1rem;
}